/************* IMPOSTAZIONI GENERALI *************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: red;
    padding: 1rem 5rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/************* IMPOSTAZIONI SPECIFICHE *************/
/************* MAIN *************/
.user {
    height: 20%;
    width: calc(100% / 7);
    background-color: black;
    padding: 0.7rem 0.2rem;
}

.foto {
    height: 100%;
    width: 100%;
    background-color: yellow;
}

/************* FOOTER *************/

footer {
    height: 4rem;
    width: 100%;
    background-color: blue;
}

.mic-video,
.option,
.end-call {
    width: 20%;
    background-color: coral;
}